<h1>Cocktails#index</h1>

  <div class="container ">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1455621481073-d5bc1c40e3cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1183&q=80')">
    <%= cocktail.name %>
  </div>
      <%= link_to 'details',cocktail_path(cocktail), class: 'btn btn-primary d-flex w-70 justify-content-center btn-sm' %>
    <% end %>
  </div>
